<div class="form-group">
    <label for="nome">Contract Name</label>
    <input type="text" class="form-control" name="contractName" id="contractName" required>
  </div>

  <div class="form-group">
      <label for="nome">Contract Version</label>
      <input type="text" class="form-control" name="contractVersion" id="contractVersion" required>
    </div>

  <div class="form-group">
    <label for="fileType">File Type</label>
    <select class="form-control" name="fileType" id="fileType">
      <option value="JSON">JSON</option>
      <option value="YALM">YALM</option>
    </select>
  </div>  


  <div class="form-group">
    <label for="contractCreateDate">Create Date</label>
    <input type="date" class="form-control" name="contractCreateDate" id="contractCreateDate">
  </div>