.json-form-editor {
  max-height: 100%;
  overflow-y: auto;
  /* Adiciona scroll vertical */
  margin-left: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 10px;
}

.schema-exemple {
  margin-right: 10px;
}