<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    Pergamum Data Contract Manager
</mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav opened mode="side" #sidenav="matSidenav" class="mat-elevation-z8">
        <button mat-button class="menu-button" routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button" routerLink="/Contract_manager">
            <mat-icon>library_books</mat-icon>
            <span>Contract Manager</span>
        </button>
        <button mat-button class="menu-button" routerLink="/about">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/settings">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-grid-list cols="4" rowHeight="4:4">
            <mat-grid-tile>
                <mat-card>
                    <mat-card-content class="mat-elevation-z8 exemple-card">Paypall schema</mat-card-content>
                </mat-card></mat-grid-tile>
            <mat-grid-tile> 
                <mat-card>
                    <mat-card-content class="mat-elevation-z8 exemple-card">Airbyte schema</mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
        </mat-grid-list>
    </mat-sidenav-content>
</mat-sidenav-container>