<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    Pergamum Data Contract Manager
</mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav #snav opened [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56" #sidenav="matSidenav" class="mat-elevation-z8">
        <app-menu-content></app-menu-content>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <!-- <app-data-table-contract-schema></app-data-table-contract-schema> -->
    </mat-sidenav-content>
</mat-sidenav-container>