<table mat-table [dataSource]="contractSchema" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Schema Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Create Date Column -->
    <ng-container matColumnDef="create_at">
      <th mat-header-cell *matHeaderCellDef> Create Date </th>
      <td mat-cell *matCellDef="let element"> {{element.create_at}} </td>
    </ng-container>
  
    <!-- Last Update Column -->
    <ng-container matColumnDef="update_at">
      <th mat-header-cell *matHeaderCellDef> Last Update </th>
      <td mat-cell *matCellDef="let element"> {{element.update_at}} </td>
    </ng-container>
  

    <!-- Schema Version Column -->
    <ng-container matColumnDef="schema_version">
      <th mat-header-cell *matHeaderCellDef> Schema Version </th>
      <td mat-cell *matCellDef="let element"> {{element.schema_version}} </td>
    </ng-container>

    <!-- Open Schema to edit -->
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>