#schema-sample-area {
    font-size: 12px;
    font-family: "Roboto Mono";
    resize: none;
    height: 800px;
    background-color: #dbd9d9;
    max-width: 654px;
}

#schema-title {
    color: rgb(63, 63, 63);
    font-size:xx-large;
}